:root{
    --main-color: black;
    --main-bg-color: #e4ede6;
}

figure{
    float: left;
    text-align: center;
    width: 30%;
}

img{
    max-width: 100%;
}

body{
    border: thin solid var(--main-color);
    background-color: var(--main-bg-color);
    color: var(--main-color);
    max-width: 50em;
    line-height: 1.3em;
    padding: 1%;
    margin: auto;
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
}

header{
    text-align: center;
}

html{
    background-color: #f2f5f3;
}

article, section, aside, nav{
    padding: 1%;
}

table{
    clear: both;
}

form{
    max-width: 400px;
    border: medium solid plum;
    background-color: black;
    color: plum;
    padding: 1%;
    margin: auto;
}

.contact label{
    font-size: xx-small; 
}
fieldset{
    border: none;
}

fieldset p{
    margin-bottom: 1em;
}

legend {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}

label + input, label + textarea{
    display: block;
}

input[type=text], input[type=email]{
    border: 0;
    background-color: #f2f5f3;
    border-bottom: medium solid #f3aa1b;
    width: 100%;
    height: 2em;
    color: black;
    font-size: large;
}

input[type="range"] {
    width: 75%;
}

select{
  font-size: large;
}

textarea{
    width: 100%;
    height: 5em;
}

.buttons{
    text-align: center
}

.right{
    float: right;
    margin-left: 3%;
    margin-top: 3.7em;
    width: 15em;
    height: auto;
    border: 10px solid #f2f5f3;
    box-shadow: 0px 0px 0px 1px black;
}

.tiptop{
    background-color: #f2f5f3;
    border: 1px solid black;
    padding-top: .6em;
    padding-bottom: .6em;
    margin-left: 4.8em;
    margin-right: 4.8em;
}

.small {
    width: 20%;
}

input[type=submit]{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-color: #507d2a;
    color: #f2f5f3;
    border-color: #507d2a;
    border-radius: .25em;
    padding: .5em 0em;
    cursor: pointer;
}

input[type=radio]{
    cursor: pointer;
}

input[type=checkbox]{
    cursor: pointer;
}

select{
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #f2f5f3;
    color: black;
    border-color: #507d2a;
    border-radius: .25em;
}

/* grid setup */
body{
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
}

header{
    grid-area: header;
}
nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    max-width: 110%;
    width: 101.3%;
    margin-left: -.64em;
    margin-top: -.64em;
    background-color: #507d2a;
    font-size: 130%;
    font-weight: 500;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 0 3em;
    padding-bottom: 1em;
    margin-bottom: .5em;
}

.dropdown{
    margin-bottom: -.4em;
}

.dropdown-content{
    margin-top: 1em;
}

div a{
    padding-top: .9em;
    margin-bottom: -.2em;
    margin-right: -.7em;
    margin-left: -.4em;
    padding-right: -.7em;
    padding-left: -.4em;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.animal{
    float: left;
    width: 29%;
    text-align: center;
    border: thin dimgrey solid;
    margin: 1em 0em 3em .8em;
    padding: 1em .5em .65em .5em;
    background-color: #f2f5f3;
}

.dropbtn{
    display: inline-block;
    background-color: #507d2a;
    color: #f2f5f3;
    padding: .25em 1.2em;
    font-size: 100%;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    margin-bottom: -1em;
    padding-top: .5em;
    padding-bottom: 1em;
}

.dropdown{
    display: inline-block;
    overflow: hidden;
}

.nav a:hover, .dropdown:hover .dropbtn{
    background-color: #f2f5f3;
}

.dropdown:hover .dropbtn{
    color: black;
}

.dropdown-content{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    background-color: #f2f5f3;
    display: none;
    z-index: 1;
    margin-top: -2em;
}

.dropdown-content a{
    background-color: #f2f5f3;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.fig_link, .fig_link:visited{
    color: black;
}

.welcome{
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    padding-bottom: 3em;
    margin-bottom: 1.5em;
}

.info{
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.communication{
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.administration{
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.button_fixed, .button_fixed:visited{
    background-color: #507d2a;
    color: #f2f5f3;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #507d2a;
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

.button_fixed:hover{
    background-color: #f2f5f3;
    color: black;
    text-decoration: none;
    border: 2px solid #507d2a;
    float: right;
}

.animal_single{
    float: left;
    width: 29%;
    text-align: center;
    border: thin dimgrey solid;
    margin: 3.5em 1.75em 2em .8em;
    padding: 1em .5em .75em .5em;
    background-color: #f2f5f3;
}

.animal_info{
    margin-top: 1.5em;
    padding-left: 1em;
    padding-right: 2em;
}

.range{
    background-color: rgb(250, 229, 250);
}

.navigate, .navigate:visited{
    background-color: #507d2a;
    color: #f2f5f3;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 2em;
    margin-left: 2em;
}

.navigate:hover{
    background-color: #f2f5f3;
    color: black;
    text-decoration: none;
    margin-right: 2em;
    margin-left: 2em;
}

.skins{
    margin-right: 10em;
}

.models{
    margin-top: 17em;
}

#frmAdopt, #frmInsert, #frmUpdate, #frmDelete {
    background-color: #fffff5;
    color: black;
    border: 2px solid #f3aa1b;
    border-radius: 5%;
}

#txtFirstName, #txtLastName, #txtAdopterEmail{
    background-color: #f2f5f3;
    color: black;
}
